/* PALETA DE CORES */
:root {
    --font-color-primary: #382d20;
    --font-color-secondary: #a29e97;
    --font-color-tertiary: #6c6865;
    --button-color-primary: #c83b0e;
    --button-color-secondary: #952c0c;
    --background-color: #fcf8f5;
    --white: #FFF;
    --white-off: #DDD;
    
}

@font-face {
    font-family: RedHatText;
    src: url("./assets/fonts/RedHatText-VariableFont_wght.ttf");
}

body {
    font-family: RedHatText;
    font-style: normal;
    font-weight: 400;
    color: var(--font-color-primary);
    background-color: var(--background-color);
}