/* PALETA DE CORES */
:root {
    --wh: #ffffff;
    --blu: #1ba0f6;
    --red: #ff3141;
    --bl: #000000;
    --gr: #b6b6b6;

    --gradient: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

/* PALETA SEMANTICA */
:root {
    --text-color: var(--bl);
    --caption-color: var(--gr);
    --heaader-color: var(--bl);
    --div-color: var(--gr);
    --back-color: var(--wh);
    --butt-color: var(--red);
    --unfo-color: var(--red);
    --like-color: var(--red);
    --notif-color: var(--red);
    --fol-color: var(--blu);
    --ver-color: var(--blu);
}

/* 
@media(prefers-color-scheme: dark) {
    :root {
        --text-color: var(--wh);
        --caption-color: var(--gr);
        --heaader-color: var(--wh);
        --div-color: var(--gr);
        --back-color: var(--bl);
        --butt-color: var(--red);
        --unfo-color: var(--red);
        --like-color: var(--red);
        --notif-color: var(--red);
        --fol-color: var(--blu);
        --ver-color: var(--blu);
    }
}
*/

body {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: var(--text-color);
    background-color: var(--back-color);
}