@import './base.css';

main {
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
}

#product-section {
  display: flex;
  flex-direction: column;
}

#product-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product{
  width: 250px;
  height:350px;
  display:flex;
  flex-direction: column;
}

.thumb{
  border-radius: 10px;
}

.selected-false {
  border: none;
}

.selected-true {
  border: solid 3px var(--button-color-primary);
}

.btn-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  place-items: center;
  place-content: center;
  margin-top: -21px;
}

.butt {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  gap: 10px;

  font-family: RedHatText;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.1s linear
}

.quantity-controller {
  place-content: space-between;
  background-color: var(--button-color-primary);
  color: var(--white);
  border: solid 1px var(--button-color-secondary);
  width: 160px;
  height: 42px;
  border-radius: 21px;
}

.ico-butt {
  width: 16px;
  height: 16px;
  padding: 1px;
  background: transparent;
  border: solid 2px var(--white);
  border-radius: 50%;
  margin: 0 20px;
}

.cart-butt {
  background-color: var(--white);
  color: var(--font-color-primary);
  border: solid 1px var(--font-color-tertiary);
  width: 160px;
  height: 42px;
  border-radius: 21px;
}

.cart-butt:hover {
  background-color: var(--white-off);
  color: var(--font-color-tertiary);
  border: solid 1px var(--font-color-tertiary);
}

.cart-butt:active {
  background-color: var(--white);
  color: var(--white-off);
  border: solid 1px var(--font-color-tertiary);
}

.data {
  gap: 5px;
  display:flex;
  flex-direction: column;
  font-family: RedHatText;
}

.data .category {
  color: var(--font-color-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.data .name {
  color: var(--font-color-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.data .price{
  color: var(--button-color-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}


.hidden {
  display: none;
}
